description = "All the partner logos"

[staticMenu]

[staticPage]

[SubscribeForm]
==
{variable name="supporterText" label="supporterText" tab="Header" type="text"}{/variable}
{variable name="premiumText" label="premiumText" tab="Header" type="text"}{/variable}
{variable name="sponsoringText" label="sponsoringText" tab="Header" type="text"}{/variable}
{variable name="serviceText" label="serviceText" tab="Header" type="text"}{/variable}
{variable name="projectText" label="projectText" tab="Header" type="text"}{/variable}
{variable name="networkText" label="networkText" tab="Header" type="text"}{/variable}
{variable name="strategicText" label="strategicText" tab="Header" type="text"}{/variable}


{% partial 'start' %}

<div class="wrapper" style="min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4em;">

{% partial "static-topmenu" %}

<main class="container">
  <div class="row">

      {% page %}

      <h2>{{supporterText}}</h2>

      <div class="row">
        {repeater name="supporterlogos" prompt="Add another supporter logo"}
            <div style="margin-top:60px;padding:0px 20px;max-width:300px;position:relative;top:50%;transform:translateY(-50%);text-align:center;" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="
                {mediafinder name="supporterlogos" label="supporterLogo"}{/mediafinder}
                "/>
                {%if loop.index%4==0 %}
                    </div>
                    <div class="row">
                {% endif %}
            </div>
        {/repeater}
       </div>
       
      <h2>{{premiumText}}</h2>

      <div class="row">
        {repeater name="premiumlogos" prompt="Add another premium logo"}
            <div style="margin-top:60px;padding:0px 20px;max-width:300px;position:relative;top:50%;transform:translateY(-50%);text-align:center;" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="
                {mediafinder name="premiumlogos" label="premiumLogo"}{/mediafinder}
                "/>
                {%if loop.index%4==0 %}
                    </div>
                    <div class="row">
                {% endif %}
            </div>
        {/repeater}
       </div>

      <h2>{{sponsoringText}}</h2>
      
      <div class="row">
        {repeater name="sponsoringlogos" prompt="Add another sponsoring logo"}
            <div style="margin-top:60px;padding:0px 20px;max-width:300px;position:relative;top:50%;transform:translateY(-50%);text-align:center;" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="
                {mediafinder name="sponsoringlogos" label="sponsoringLogo"}{/mediafinder}
                "/>
                {%if loop.index%4==0 %}
                    </div>
                    <div class="row">
                {% endif %}
            </div>
        {/repeater}
       </div>
       
      <h2>{{serviceText}}</h2>

      <div class="row">
        {repeater name="servicelogos" prompt="Add another service logo"}
            <div style="margin-top:60px;padding:0px 20px;max-width:300px;position:relative;top:50%;transform:translateY(-50%);text-align:center;" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="
                {mediafinder name="servicelogos" label="serviceLogo"}{/mediafinder}
                "/>
                {%if loop.index%4==0 %}
                    </div>
                    <div class="row">
                {% endif %}
            </div>
        {/repeater}
       </div>
       
      <h2>{{projectText}}</h2>

      <div class="row">
        {repeater name="projectlogos" prompt="Add another project logo"}
            <div style="margin-top:60px;padding:0px 20px;max-width:300px;position:relative;top:50%;transform:translateY(-50%);text-align:center;" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="
                {mediafinder name="projectlogos" label="projectLogo"}{/mediafinder}
                "/>
                {%if loop.index%4==0 %}
                    </div>
                    <div class="row">
                {% endif %}
            </div>
        {/repeater}
       </div>
       
      <h2>{{networkText}}</h2>

      <div class="row">
        {repeater name="networklogos" prompt="Add another network logo"}
            <div style="margin-top:60px;padding:0px 20px;max-width:300px;position:relative;top:50%;transform:translateY(-50%);text-align:center;" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="
                {mediafinder name="networklogos" label="networkLogo"}{/mediafinder}
                "/>
                {%if loop.index%4==0 %}
                    </div>
                    <div class="row">
                {% endif %}
            </div>
        {/repeater}
       </div>
       
      <h2>{{strategicText}}</h2>

      <div class="row">
        {repeater name="strategiclogos" prompt="Add another strategic logo"}
            <div style="margin-top:60px;padding:0px 20px;max-width:300px;position:relative;top:50%;transform:translateY(-50%);text-align:center;" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img src="
                {mediafinder name="strategiclogos" label="strategicLogo"}{/mediafinder}
                "/>
                {%if loop.index%4==0 %}
                    </div>
                    <div class="row">
                {% endif %}
            </div>
        {/repeater}
       </div>
    <div class="clearfix"></div>
    <div style="padding-top:160px;"></div>

  </div>
</main>

<!-- Share bar -->
{% partial "sharebar" %}
{% component 'SubscribeForm' %}
<!-- Footer -->
{% partial "footer" %}

{% partial "end" %}